option {
    color: white;
    background-color: black;
    
    
}
.onethrofive {
    color: white;
    background-color: black;
    position: relative;
    
}

#surveymain{
    text-align: center;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 2%;
   
}
#questions{
    font-size: 26px;
    position: relative;
}
.heading {
    text-align: center;
}
#submitBtn {
    margin-left: auto;
    margin-right: auto;
}
#userMatchImage{
    width: 300px;
    height: 150px;
    object-fit: fill;
}